table.imagetable {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse
}
table.imagetable th {
	background: #b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
	font-size: 20px
}
table.imagetable td {
	background: #dcddc0 url('cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999
}
table.caption {
	font-weight: bold;
	font-size: 30px
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0
}
li {
	float: left
}
a:link, a:visited {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #98bf21;
	text-align: center;
	padding: 6px;
	text-decoration: none;
	text-transform: uppercase;
}
tab a:hover, a:active {
	background-color: #7A991A;
}